*{
/*  border:1px solid black; */
  box-sizing:border-box;
}

#container {
  width: 70%;
  margin: auto;
  padding-top:20px;
   font-family: Helvetica, Arial, sans-serif;
}

#header{
  width: 100%;
  margin-bottom:-100px;
  }
#houston{
  width:100%;
}

#logo{
  width: 100px;
  border-radius: 50%;
  border: 5px white solid;
  position:relative;
  top:-50px;
  margin-left:10%;
}
#classroom{
  width:90%;
}
.colLeft{
  display: inline-block;
  width:25%;
  margin-top:5%;
 vertical-align:top;

  font-size:10px;
}
.colRight{
  margin-top:5%;
 display: inline-block;
  width:60%;
  font-size:12px;
  padding-left:15px;
}

#neverMiss{
  font-size:10px;
  width: 250px;
  border:solid rgba(0,0,0,1) 1px;
  background:rgba(255,255,255,1);
  bottom:50px;
  right:5px;
  display:inline-block;
  position:fixed;
}

#neverMissLogo{
  width:100%;
}

#neverMiss1-2{
   border-bottom:solid rgba(0,0,0,1) 1px;

}

#neverMiss2-2 > *{
  vertical-align: middle;

}
#greyPart{
  color:rgba(171, 183, 183, 1.0);
}

#neverMiss1-2,
#neverMiss2-2{
  padding:5px;
}

.follow_logo{
  display:inline-block;
/*  height: 90vh;*/
  width: 15%;
}

.follow_txt{
  display:inline-block;
  padding-left:5px;
}

.follow_btn{
  display:inline-block;
  padding-left:5px;
}

.follow_btn button{
  background:rgba(107, 185, 240, 1.0);
  color: white;
}
